body{
    font-family:'Courier New', Courier, monospace;
    font-style:normal;
    background-color: #7DB4A4;
    color:rgb(88, 69, 175);
    font-size: 20px;
    margin-top: 20%;
    text-align: center;
}
